.back-img-center{
    background-image: url('https://i.pinimg.com/564x/47/ee/31/47ee3199d49ce124f4ac2897ad2c328d.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    opacity: 0.1;
}